<%= form_for @question do |f| %>

    <% if @question.errors.any? %>
        <div class="alert alert-danger">
          <h2>Please fix <%= pluralize(@question.errors.count, 'error') %>:</h2>
          <ul>
            <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
