<tr>
  <td><%= @questions.offset_value + question_counter + 1 %></td>
  <td><%= question.body %></td>
  <td><%= question.author %></td>
  <td><%= link_to 'Show', question_path(question) %></td>
  <% if question.user == current_user %>
  <td><%= link_to 'Edit', edit_question_path(question) %></td>
  <td><%= link_to 'Delete', question_path(question), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  <% end %>
</tr>