<h1>All questions</h1>

<p><%= link_to 'Add Question', new_question_path %></p>

<%= paginate @questions %>

<table>
  <tr>
    <th>Counter</th>
    <th>Body</th>
    <th>Author</th>
    <th colspan="3"></th>
  </tr>

  <%= render @questions %>
</table>

<%= paginate @questions %>