<h1>Question #<%= @question.id %></h1>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @question.author %>
</p>
<% if current_user == @question.user %>
<p><%= link_to 'Edit', edit_question_path(@question) %></p>
<p><%= link_to 'Delete', question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>
<p><%= link_to 'Back', :back %></p>
