<marquee id="currentTime"><%= @current_time %></marquee>

<h1>Welcome to Segfault</h1>
<p>Where Question.joins(:answers)</p>

<p><%= link_to 'Browse Questions', questions_path %></p>

<div style="float: left; background-color: #B00100;" id="test">
  <h1>LOREM IPSUM</h1>
</div>