<!DOCTYPE html>
<html>
<head>
  <title>Segfault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<br/>
<% end %>

<%= flash[:notice] %><br />
<%= flash[:alert] %>

<%= yield %>

</body>
</html>
